.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: black; /* fallback for old browsers */
/* Chrome 10-25, Safari 5.1-6 */
 
  color: #ffffffa6;
  font-family: "Roboto", sans-serif;
}

input {
  background: border-box;
  color: #ffffffa6;
  border-top: none;
  width: 200px;
  padding: 5px;
}

button {
  background: content-box;
  color: #ffffffa6;
  border: none;
}
